<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SELECTPLIST</key>
	<array>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/126.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/278.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/332.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/372.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/520.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/524.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/511.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/507.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/505.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/502.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/457.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/426.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/407.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/409.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/410.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/4.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/19.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/93.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/90.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/138.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/169.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/199.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/333.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/364.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/422.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/493.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/335.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/302.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/286.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/233.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/119.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/120.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/103.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/82.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/56.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/5.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/54.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/51.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/89.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/96.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/142.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/129.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/108.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/50.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/55.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/59.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/58.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/81.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/78.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/133.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/155.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/185.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/40.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/15.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/52.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/64.jpg</string>
		<string>/Applications/4K Wallpaper.app/Contents/Resources/240.jpg</string>
	</array>
</dict>
</plist>
